tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.zcompdump*
.config/tmux/plugins
.config/dconf/
.config/dolphinrc
.config/freenet/
.config/go/
.config/mozilla/
.config/pulse/
.config/wireplumber/

